@media screen and (max-width: 725px) {
    body {
        padding: 20px 20px 0px;
    }

    main {
        flex-direction: column;
        min-height: 100vh;
    }

    #image {
        order: 1;
        width: 100%;
        background-position: top center;
    }

    #content {
        order: 2;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 35px;
    }

    #stats-container {
        margin-top: 5px;
    }

    footer {
        width: calc(100% + 40px);
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    #content {
        text-align: center;
        padding: 30px 20px 20px;
        font-size: 1em;
    }
    
    #stats-container {
        margin-top: 10px;
        flex-direction: column;
        font-size: 1em;
        gap: 10px;
    }
}