@media screen and (max-width: 1024px) {
  body {
    padding: 25px 0px 0px;
    background-image: url("../assets/images/pattern-lines.svg"),
      url("../assets/images/pattern-squiggly-line-bottom.svg"),
      url("../assets/images/pattern-squiggly-line-top.svg"),
      url("../assets/images/pattern-circle.svg"),
      url("../assets/images/pattern-circle.svg"),
      url("../assets/images/background-tablet.png");
    background-position: top center, bottom left, top right, 120% center,
      1% -10%, center center;
    background-repeat: no-repeat;
    background-size: cover, contain, 150px, 150px, 150px, cover;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding-top: 25px;
  }

  #ticket {
    margin-top: 60px;
  }

  #ticket-logo {
    width: 150px;
  }

  #ticket-name {
    margin: 30px 10px;
    font-size: 1.8em;
  }

  #ticket-email {
    width: 90%;
  }

  #container-information-ticket {
    width: 60%;
  }

  #image-profile {
    width: 50px;
    height: 50px;
  }

  #ticket-date {
    top: 35px;
    left: 47px;
  }

  footer {
    flex-direction: column;
  }
}
