/* ----- TICKET ----- */
#ticket-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

#ticket-name {
  margin: 30px;
}

#ticket-email {
  width: 50%;
}

#ticket {
  position: relative;
  max-width: 400px;
  margin-top: 100px;
}

#ticket-logo {
  position: absolute;
  top: 13px;
  left: 13px;
}

#container-information-ticket {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  position: absolute;
  bottom: 15px;
  left: 13px;
}

#ticket-image {
  width: 100%;
}

#ticket-date {
  position: absolute;
  top: 45px;
  left: 58px;
  font-size: 0.9em;
}

.gradient-text {
  font-weight: bold; /* Estilo do texto */
  background: linear-gradient(to right, var(--Gradient1), var(--Gradient2)); /* Gradiente */
  -webkit-background-clip: text; /* Define o gradiente como "recorte" do texto */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Remove a cor sólida do texto */
}

#image-profile {
  width: 60px;
  height: 60px;
  border-radius: 7px;
}

#name-profile {
  color: var(--Neutral-00);
  font-weight: 500;
  font-size: 1em;
}

#container-github{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 5px;
}

#github-profile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#user-github {
  font-size: 0.8em;
}

#ticket-number {
  color: var(--Neutral-500);
  font-size: 1.15em;
  position: absolute;
  top: 45%;
  right: 10px;
  transform: rotate(90deg);
}