@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  --Neutral0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(247, 18%, 62%);
  --Neutral-600: hsla(245, 19%, 35%, 0.75);
  --Neutral-700: hsla(245, 19%, 35%, 0.5);
  --Neutral-900: hsl(248, 70%, 10%);

  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);

  --Gradient1: hsl(7, 86%, 67%);
  --Gradient2: hsl(0, 0%, 100%); /* (text) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 20px 10px 0px;
  text-align: center;
  font-family: "Inconsolata", Arial, Helvetica, sans-serif;
  background-color: var(--Neutral-900);
  color: var(--Neutral-300);
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: 
    url("../assets/images/pattern-lines.svg"),
    url("../assets/images/pattern-squiggly-line-bottom.svg"),
    url("../assets/images/pattern-squiggly-line-top.svg"),
    url("../assets/images/pattern-circle.svg"),
    url("../assets/images/pattern-circle.svg"),
    url("../assets/images/background-desktop.png");
  background-position: 
    top center,
    bottom left,
    top right,
    69% 65%,
    200px -10%,
    center center;
  background-repeat: no-repeat;
  background-size: 
    cover, auto, auto, 150px, 150px, cover;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
}

form div {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 7px;
}

#container-fl {
  margin-bottom: 5px;
}

#iAvatar {
  height: 80px;
  border: 1px solid var(--Neutral-300);
  border-style: dashed;
}

#container-input-file img.preview {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid var(--Neutral-300);
}

label {
  font-size: 0.9em;
}

#file-placeholder {
  width: 100%;
  font-size: 0.9em;
  position: absolute;
  text-align: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="file"] {
  display: none;
}

#file-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#container-input-file {
  position: relative;
  height: 130px;
  border: 1px solid var(--Neutral-500);
  background-color: var(--Neutral-700);
  border-radius: 5px;
  border-style: dashed;
  border-radius: 10px;
  transition: background-color .2s ease;
}

#container-input-file:hover {
  cursor: pointer;
  background-color: var(--Neutral-600);
}

#icon-upload {
  background-color: var(--Neutral-900);
  width: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--Neutral-500);
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
}

.alertMessage {
  font-size: 0.75em;
}

#file-information i {
  font-size: 0.9m;

}

h1 {
  font-size: 2.4rem;
  margin: 10px 0px 5px;
  color: var(--Neutral0);
}

input {
  padding: 10px;
  border: 1px solid var(--Neutral-500);
  background-color: var(--Neutral-700);
  border-radius: 10px;
  color: var(--Neutral-300);
  font-family: inherit;
  transition: background-color .3s ease;
}

input:hover {
  background-color: var(--Neutral-600);
}

input:focus {
  border: 3px double var(--Neutral-500);
}

input::placeholder {
  color: var(--Neutral-500);
}

input[type="submit"] {
  background-color: var(--Orange-500);
  color: var(--Neutral-900);
  font-weight: bolder;
  padding: 10px 0px;
  margin-top: 5px;
  border: 1px solid var(--Neutral-900);
  transition: all 0.1s ease;
  font-size: 0.94em;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--Orange-700);
  border-style: inset;
  border: none;
  border-bottom: 3px solid var(--Gradient1);
}

input[type="submit"]:active {
  transform: scale(0.98);
}

.errorInput {
  border: 1px solid var(--Orange-500);
}
.errorMessage {
  color: var(--Orange-500);
}

