@charset "UTF-8";

@media screen and (max-width: 810px) {
  #image-logo {
    margin-top: 50px;
    margin-bottom: 15px;
  }

  #container-search {
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  #container-search form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input[type="submit"] {
    width: 100%;
  }

  #error-message {
    position:static;
  }

  #container-input-email {
    width: 100%;
  }

  #image-dashboard img {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 0px 10px;
  }

  #image-logo {
    margin-top: 70px;
  
  }

  h1 {
    font-size: 1.5em;
  }

  #container-search {
    width: 60%;
  }

  footer {
    width: calc(100% + 20px);
    flex-direction: column;
  }
}