@charset "UTF-8";

@media screen and (max-width: 700px) {
  main {
    gap: 35px;
  }

  body {
    margin-top: 20px;
    background-image: url("../images/bg-mobile.svg");
  }

  #logo img {
    width: 110px;
  }

  #container-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #image, #content {
    width: 100%;
  }

  #content {
    text-align: center;
  }

  #btnRegister {
  
  }

  #container-social {
    justify-content: center;
    padding: 0px;
  }

  footer {
    flex-direction: column;
    margin-top: 20px;
  }


}

@media screen and (max-width: 431px) {
  h1 {
    font-size: 1.9em;
  }

  #container-social {
    margin-top: 50px;
  }
}