@charset "UTF-8";

@media screen and (max-width: 875px) {
  body {
    gap: 20px;
  }

  .dashboard {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 200px) 170px;
    gap: 20px;
  }

  #social-media {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  #social-media h1 {
    font-size: 2em;
  }

  #platforms {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  #platforms img {
    margin-bottom: 10px;
    width: 220px;
  }

  #platforms h3 {
    font-size: 1.1em;
  }

  #posting-schedule {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  #social-media-schedule {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }

  #social-media-schedule img {
    width: 250px;
    margin: 0px 0px 15px;
  }

  #followers {
    display: none;
  }

  #audience {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  #audience img {
    width: 115px;
  }

  #container-sections {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
  }

  #content-quicker h2 {
    font-size: 1.3em;
    margin: 5px 0px 7px;
  }

  #content-ia h2 {
    font-size: 1.3em;
    margin: 0;
  }

  #content-ia img {
    width: 135px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .dashboard {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  #social-media {
    order: 0;
  }

  #social-media img {
    width: 100%;
    max-width: 200px;
  }

  #social-media p {
    font-size: 1em;
  }

  #platforms {
    order: 1;
  }

  #platforms img {
    margin-left: 0px;
  }

  #posting-schedule {
    order: 2;
    height: 200px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #posting-schedule img {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #social-media-schedule {
    order: 3;
  }

  #social-media-schedule img {
    width: 100%;
    max-width: 281px;
    margin: 5px 0px 10px;
  }

  #social-media-schedule p {
    font-size: 1em;
    text-align: center;
  }

  #followers {
    order: 4;
    flex-direction: column;
  }

  #followers h2 {
    margin-top: 20px;
    width: 80%;
    text-align: center;
  }

  #followers img {
    width: 100%;
    width: 190px;
    margin-bottom: 5px;
  }

  #audience {
    order: 5;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #container-sections {
    width: 100%;
    display: flex;
    order: 6;
    flex-direction: column;
  }

  #content-quicker {
    font-size: 0.95em;
    align-items: flex-start;
  }

  #content-quicker h2 {
    margin-top: 0px;
  }

  #content-quicker .image {
    justify-content: flex-start;
  }

  #content-quicker img {
    width: 100%;
    max-width: 150px;
  }

  #content-ia .image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #content-ia img {
    width: 100%;
    width: 230px;
  }

  footer {
    flex-direction: column;
  }

  footer p {
    font-size: 0.9em;
  }
}
