@charset "UTF-8";

@media screen and (max-width: 500px) {
  .dashboard {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  #social-media {
    order: 0;
  }

  #social-media img {
    width: 100%;
    max-width: 200px;
  }

  #social-media p {
    font-size: 1em;
  }

  #platforms {
    order: 1;
  }

  #platforms img {
    margin-left: 0px;
  }

  #posting-schedule {
    order: 2;
    height: 200px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #posting-schedule img {
    width: 200px;
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #social-media-schedule {
    order: 3;
  }

  #social-media-schedule img {
    width: 100%;
    max-width: 281px;
    margin: 5px 0px 10px;
  }

  #social-media-schedule p {
    font-size: 1em;
    text-align: center;
  }

  #followers {
    order: 4;
    flex-direction: column;
  }
  
  #followers h2 {
    margin-top: 20px;
    width: 80%;
    text-align: center;
  }

  #followers img {
    width: 100%;
    width: 190px;
    margin-bottom: 5px;
  }

  #audience {
    order: 5;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #container-sections {
    width: 100%;
    display: flex;
    order: 6;
    flex-direction: column;
  }

  #content-quicker {
    font-size: 0.95em;
    align-items: flex-start;
  }

  #content-quicker h2 {
    margin-top: 0px;
  }

  #content-quicker .image {
    justify-content: flex-start;
  }

  #content-quicker img {
    width: 100%;
    max-width: 150px;
  }

  #content-ia {

  }

  #content-ia .image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #content-ia img {
    width: 100%;
    width: 230px;
  }
}