@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);

  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  padding: 15px 30px 0px;
  font-family: 'DM Sans', Arial, sans-serif;
  background-color: whitesmoke;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dashboard {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 200px); /* 4 colunas */
  grid-template-rows: 220px repeat(2, 200px); /* 3 linhas */
  gap: 20px;
  padding: 20px;
  height: 100%;
}

section {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  color: var(--Black);
}

h2, h3 {
  text-align: left;
}

.purple-section {
  background-color: var(--Purple-500);
  color: white;
}

.yellow-section {
  background-color: var(--Yellow-500);
  color: var(--Black);
}

.white-section {
  background-color: white;
  color: var(--Black);
}

.image img {
  width: 100%;
}

h2, h3 {
  line-height: 25px;
  letter-spacing: -1px;
  font-size: 1.5em;
  font-weight: 550;
}

/* Grid Placement */

#social-media {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

#social-media img {
  width: 35%;
}

#social-media h1 {
  font-size: 2.6em;
  font-weight: 500;
  line-height: 39px;
  margin-top: 20px;
  margin-bottom: 18px;
}

#social-media p {
  font-size: 0.8em;
}

#social-media span:nth-child(1) {
  color: var(--Yellow-500);
}

#social-media span:nth-child(2) {
  font-style: italic;
} 

/* -------- SOCIAL MEDIA SCHEDULE -------- */

#social-media-schedule {
  background-color: var(--Purple-100  );
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

#social-media-schedule h3 {
  margin: 10px 0px 13px;
}

#social-media-schedule img {
  width: 281px;
  margin-right: -121px;
  margin-bottom: 10px;
}

#social-media-schedule p {
  text-align: left;
  line-height: 15px;
  font-size: 0.9em;
}

/* -------- PLATFORMS -------- */

#platforms {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: left;
}

#platforms img {
  width: 250px;
  margin-bottom: 5px;
  margin-left: 80px;
  border-radius: 30px;
}

#platforms h3 {
  color: var(--Black);
}

/* -------- POSTING SCHEDULE -------- */

#posting-schedule {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#posting-schedule h3 {
  margin-bottom: 10px;
}

#posting-schedule img {
  margin-bottom: -105px;
}

/* -------- AUDIENCE -------- */

#audience {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: left;
}

#audience p {
  font-size: 0.9em;
  margin: 0px 0px 25px;
}

#audience span {
  font-size: 3em;
  font-weight: 600;
}

#audience img {
  width: 140px;
}

/* -------- FOLLOWERS -------- */

#followers {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row;
  gap: 1px;
}

#followers .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#followers img {
  width: 190px;
}

#followers h2 {
  font-weight: 400;
  font-size: 1.9em;
}

/* -------- CONTAINER SECTIONS -------- */

#container-sections {
  grid-column: 1 / 2;
  grid-row: 1 / 4;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

/* -------- CONTENT QUICKER -------- */

#content-quicker {
  background-color: var(--Yellow-100);
  grid-row: 1 / 2;
}

#content-quicker h2 {
  font-size: 1.7em;
  margin-top: 35px;
  margin-bottom: 20px;
  font-weight: 550;
}

#content-quicker span {
  color: var(--Purple-500);
  font-style: italic;
}

/* -------- CONTENT IA -------- */

#content-ia {
  grid-row: 2 / 4;
}

#content-ia h2 {
  font-size: 1.7em;
  margin-bottom: 30px;
}

#content-ia .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-ia img {
  margin-left: 10px;
  width: 170px;
}

/* -------- FOOTER -------- */

footer {
  width: calc(100% + 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 3px 0px;
  color: var(--White);
  background-color: var(--Black);
}

footer p {
  font-size: 0.8em;
}

a {
  position: relative;
  font-weight: bold;
  color: white;
  text-decoration: none;
}


footer a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  transition: all 0.3s ease;
  background-color: white;
  bottom: 0;
  left: 50%;
}

footer a:hover::before {
  width: 50%;
}

footer a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  transition: all 0.3s ease;
  background-color: white;
  bottom: 0;
  right: 50%;
}

footer a:hover::after {
  width: 50%;
}
