@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
	--red-400: hsl(7, 99%, 70%);
	--red-400-05: hsla(7, 99%, 70%, 0.3);
	--yellow-500: hsl(51, 100%, 49%);
	--yellow-500-05: hsla(51, 100%, 49%, 0.3);
	--green-800: hsl(167, 40%, 24%); /* (graphic design text) */
	--blue-800: hsl(198, 62%, 26%); /* (photography text) */
	--green-500: hsl(167, 78%, 56%); /* (footer) */

	--grey-950: hsl(212, 27%, 19%);
	--grey-600: hsl(213, 9%, 39%);
	--grey-550: hsl(232, 10%, 55%);
	--grey-400: hsl(210, 4%, 67%);
	--white: hsl(0, 100%, 100%);

	--barlow: "Barlow", Arial, Helvetica, sans-serif;
	--fraunces: "Fraunces", Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
	scroll-margin-top: 0px;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: var(--barlow);
}

header {
	height: 100vh;
	background: var(--white) url(../images/desktop/image-header.jpg) no-repeat center center/cover;
	color: var(--white);
	padding: 25px 35px;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		nav {
			ul {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 30px;
				list-style: none;
				font-weight: 500;

				li:not(:last-of-type) {
					transition: all 0.2s ease;

					&:hover {
						color: black;
						font-weight: 600;
					}
				}

				& li:last-of-type {
					color: var(--grey-950);
					background-color: var(--white);
					border-radius: 20px;
					font-family: var(--fraunces);
					font-weight: bold;
					text-transform: uppercase;
					font-size: 0.7em;
					transition: all 0.2s ease;

					a {
						display: block;
						padding: 10px 15px;
					}

					&:hover {
						background-color: rgba(255, 255, 255, 0.4);
						color: var(--white);
					}
				}
			}
		}
	}

	#home {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 110px;
		font-family: var(--fraunces);
		font-size: 1.85em;

		h1 {
			text-align: center;
			letter-spacing: 5px;
			text-transform: uppercase;
		}

		img {
			width: 28px;
		}
	}
}

main {
	width: 100%;

	.grid-sections {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"section1  image1"
			"image2    section2"
			"section3  section4";

		& > section {
			padding: 10vw;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 50px;

			h2 {
				font-family: var(--fraunces);
				font-size: 2.7em;
				color: var(--grey-950);
			}

			p {
				font-size: 1.2em;
				color: var(--grey-550);
				font-weight: 500;
			}

			a {
				color: var(--grey-950);
				font-weight: 900;
				font-size: 1em;
				font-family: var(--fraunces);
				text-transform: uppercase;
				position: relative;
				z-index: 1;

				&::before {
					content: "";
					position: absolute;
					background-color: var(--yellow-500-05);
					width: calc(100% + 6px);
					height: 40%;
					z-index: -1;
					bottom: -1px;
					left: -3px;
					transition: all 0.2s ease;
					border-radius: 10px;
				}
			}
		}

		.section1 {
			grid-area: section1;

			a {
				&::before {
					background-color: var(--yellow-500-05);
				}
				&:hover::before {
					background-color: var(--yellow-500);
				}
			}
		}

		.image1 {
			grid-area: image1;
		}

		.section2 {
			grid-area: section2;

			a {
				&::before {
					background-color: var(--red-400-05);
				}
				&:hover::before {
					background-color: var(--red-400);
				}
			}
		}

		.image2 {
			grid-area: image2;
		}

		.section3 {
			grid-area: section3;
			background: var(--white) url("../images/desktop/image-graphic-design.jpg") no-repeat center top/cover;
		}

		.section4 {
			grid-area: section4;
			background: var(--white) url("../images/desktop/image-photography.jpg") no-repeat center center/cover;
		}

		.image1,
		.image2 {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}

		.section3,
		.section4 {
			justify-content: flex-end;
			align-items: center;
			text-align: center;
			padding-top: 400px;
			gap: 30px;

			h3 {
				font-family: var(--fraunces);
				font-size: 1.8em;
			}

			p {
				width: 90%;
				margin-bottom: auto;
			}
		}

		.section3 {
			h3 {
				color: var(--green-800);
			}
			p {
				color: var(--green-800);
			}
		}
		.section4 {
			h3 {
				color: var(--blue-800);
			}
			p {
				color: var(--blue-800);
			}
		}
	}

	#testimonials-section {
		padding: 80px 20px 90px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 60px;

		h2 {
			font-family: var(--fraunces);
			color: var(--grey-400);
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 1.4em;
			font-weight: 600;
		}

		.container-testimonials {
			max-width: 1000px;
			display: flex;
			justify-content: center;
			text-align: center;
			gap: 50px;

			.testimonial {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				gap: 40px;

				img {
					width: 60px;
					border-radius: 50%;
				}

				p {
					/* margin-bottom: auto; */
					color: var(--grey-600);
					font-weight: 500;
					width: 100%;
				}

				.informations-profile {
					margin-top: auto;

					h4 {
						font-family: var(--fraunces);
						color: var(--grey-950);
						margin-bottom: 4px;
						font-weight: 900;
					}

					span {
						color: var(--grey-400);
						font-weight: 500;
						font-size: 0.85em;
					}
				}
			}
		}
	}

	.gallery {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		img {
			width: 100%;
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	gap: 30px;
	background-color: var(--green-500);

	img {
		fill: var(--blue-800);
	}

	svg {
		fill: var(--green-800);
		transition: all 0.2s ease;

		&:hover {
			fill: var(--white);
		}
	}

	#container-section-links {
		display: flex;
		gap: 20px;

		& > * {
			transition: all 0.2s ease;

			&:hover {
				color: var(--white);
			}
		}
	}

	#container-icons {
		margin-top: 20px;
		display: flex;
		gap: 15px;

		svg {
			width: 28px;
		}

		a {
			&:hover {
				color: var(--white);
			}
		}
	}

	#attribution {
		display: flex;
		gap: 5px;

		a {
			font-weight: 600;
			transition: all 0.2s ease;

			&:hover {
				color: var(--white);
			}
		}
	}
}
