@media screen and (max-width: 490px) {
    body {
        padding: 0;
        height: 100%;
    }

    main {
        flex-direction: column;
        width: 100%;
        height: 100%;
     
        justify-content: center;
        align-items: center;
        margin: 0;
        border-radius: 0px 0px 20px 20px;
        box-shadow: none;
    }

    main #section-left, #section-right {
        width: 100vw;
    }

    #section-left {
        border-radius: 0px 0px 20px 20px;
        padding-top: 120px;
    }

    #section-right {
        padding-bottom: 60px;
    }

    footer {
        margin-top: 80px;
        width: 100%;
    }
}

@media screen and (max-height: 650px) {
    main {
        box-shadow: none;
    }

}

@media screen and (max-height: 670px) {
    main {
        box-shadow: none;
    }
}