@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
	--green-500: rgb(38, 186, 164);
	--green-border: rgb(19, 167, 145);
	--green-shadow: rgba(38, 186, 164, 0.3);
	--blue-shadow: rgba(97, 115, 255, 0.3);
	--blue-100: rgba(97, 115, 255);
	--blue-border: rgb(82, 97, 212);

	--gray-700: hsl(210, 10%, 33%);
	--gray-500: hsl(201, 11%, 66%);
	--gray-200: hsla(202, 11%, 66%, 0.2);

	--bai-jamjuree: "Bai Jamjuree", Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: var(--bai-jamjuree);
}

.btn-primary,
.btn-secondary {
	color: white;
	padding: 10px 20px;
	transition: all 0.15s ease;
	text-align: center;
  font-weight: 600;

	&:hover {
		transform: translateY(-3px);
	}

	&:active {
		transform: translateY(2px) scale(0.98);
	}
}

.btn-primary {
	background-color: var(--green-500);
	box-shadow: 0px 4px 10px var(--green-shadow);
	border-bottom: 3px solid var(--green-border);

	&:hover {
		box-shadow: 0px 6px 10px 2px var(--green-shadow);
	}

	&:active {
		box-shadow: 0px 0px 10px 0px var(--green-shadow);
	}
}

.btn-secondary {
	background-color: var(--blue-100);
	box-shadow: 0px 4px 10px var(--blue-shadow);
	border-bottom: 3px solid var(--blue-border);

	&:hover {
		box-shadow: 0px 6px 10px 3px var(--blue-shadow);
	}

	&:active {
		box-shadow: 0px 0px 10px 0px var(--blue-shadow);
	}
}

.wrapper {
	display: flex;
	gap: 15px;
}

.section-introduce-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 10px;
	text-align: center;

	p {
		max-width: 600px;
		width: 100%;
	}
}

a {
	text-decoration: none;
	border-radius: 20px;
	font-size: 0.9em;
}

img {
	width: 100%;
}

p {
	color: var(--gray-500);
	font-size: 1em;
}

h1,
h2,
h3 {
	color: var(--gray-700);
}

h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 1.78em;
}

h3 {
	font-size: 1.4em;
}

header {
	background: white url("../images/bg-header-desktop.png") no-repeat top center/contain;
	height: 80vh;
	padding: 90px 30px 0px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	gap: 40px;
	text-align: center;

	.group-text {
		max-width: max-content;

		p {
			width: 550px;
		}
	}

	img {
		width: 100px;
	}
}

main {
	display: flex;
	flex-direction: column;

	gap: 90px;
	padding: 0px 10px 80px;

	section {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		gap: 80px;
	}

	section,
	article {
		padding: 0px 20px;
	}

	.track-snippets {
		.wrapper {
			position: relative;

			justify-content: center;
			align-items: flex-start;

			gap: 80px;

			img {
				width: 50%;
			}

			.container {
				display: flex;
				flex-direction: column;

				flex-wrap: wrap;

				gap: 50px;
				margin-top: 70px;

				div {
					display: flex;
					flex-direction: column;

					gap: 10px;
				}

				p {
					width: 60%;
				}
			}
		}
	}

	.access-anywhere {
		img {
			max-width: 900px;
		}
	}

	.supercharge-workflow {
		margin-top: -60px;

		.container {
			max-width: 1200px;
			width: 100%;

			display: flex;
			justify-content: center;
			align-items: start;

			flex-wrap: wrap;

			gap: 40px;

			article {
				flex: 1 1 245px;
				display: flex;

				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;

				gap: 10px;

				img {
					margin-bottom: 16px;
					width: 40px;
				}
			}
		}
	}

	.container-logos {
		margin: 40px 0px;

		display: flex;
		justify-content: center;
		align-items: center;

		flex-wrap: wrap;
		gap: 60px;

		img {
			max-width: 100px;
		}
	}

	.clipboard {
		gap: 40px;
	}
}

footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	gap: 20px;

	background-color: var(--gray-200);
	color: var(--gray-700);

	a,
	p {
		color: var(--gray-700);
	}

	a {
		transition: all 0.15s ease;

		&:hover {
			color: var(--green-500);
		}
	}

	nav {
		ul {
			width: 100%;
			max-width: 500px;
			list-style: none;

			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(20px, 100px));
			gap: 10px 50px;
		}
	}

	.main-content {
		padding: 40px 80px;

		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		gap: 20px 0px;

		.primary {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			gap: 25px 70px;

			font-size: 0.95em;

			img {
				width: 50px;
			}
		}

		.container-icons {
			display: flex;
			gap: 15px;
			align-items: center;

			svg {
				transform: scale(0.8);
				fill: var(--gray-700);
				transition: all 0.15s ease;

				&:hover {
					fill: var(--green-500);
				}
			}
		}
	}

	#attribution {
		background-color: var(--gray-700);

		display: flex;
		justify-content: center;
		align-items: center;

		flex-wrap: wrap;
		gap: 6px;
		padding: 4px 10px;

		p {
			color: var(--gray-500);
		}

		a {
			font-weight: bold;
			font-weight: 600;
			color: white;
			transition: all 0.15s ease;

			&:hover {
				color: var(--green-500);
			}
		}
	}
}
