@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%)

    --slate-300: hsl(212, 45%, 89%)
    --slate-500: hsl(216, 15%, 48%)
    --slate-900: hsl(218, 44%, 22%)   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit";
}