:root {
	--green-200: hsl(148, 38%, 91%);
	--green-600: hsl(169, 82%, 27%);
	--red: hsl(0, 66%, 54%);

	--white: hsl(0, 0%, 100%);
	--rey-500: hsl(186, 15%, 59%);
	--grey-900: hsl(187, 24%, 22%);

	--karla: "Karla", Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: var(--green-200);
}

body {
	width: 100%;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: var(--karla);
	padding: 50px 16px;
}

.main {
	background-color: var(--white);
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 8px;
	max-width: 450px;
	width: 100%;
}

.error {
	color: var(--red);
	font-size: 0.8rem;
}

.error.hidden {
	visibility: hidden;
}

.toast.hidden {
	display: none;
}

input,
textarea {
	border: 1px solid var(--grey-900);
	border-radius: 4px;
	outline: none;
	padding: 8px;

	&:focus {
		outline: 1px solid var(--green-600);
	}
}

textarea {
	resize: none;
	font-family: var(--karla);
	color: var(--grey-900);
	font-weight: 500;
}

input[type="radio"] {
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;

	&:checked {
		background: url("../assets/images/icon-radio-selected.svg") no-repeat center;
	}
}

.radio-group:has(input:checked) {
	background-color: var(--green-200);
}

input[type="checkbox"] {
	appearance: none;
	width: 16px;
	height: 16px;
	border: 1px solid var(--grey-900);
	border-radius: 2px;
	background: transparent;

	&:checked {
		background: url("../assets/images/icon-checkbox-check.svg") no-repeat center;
	}
}

.title {
	color: var(--grey-900);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.form__wrapper {
	display: flex;
	margin-top: 4px;
	gap: 16px;

	& > * {
		flex-grow: 1;
	}
}

.radio-group {
	flex-grow: 1;
	display: flex;
	gap: 8px;
	border: 1px solid var(--grey-900);
	padding: 8px 16px;
	border-radius: 4px;
}

.radio-group > * {
	cursor: pointer;
}

.check-group {
	display: flex;
	align-items: center;
	gap: 8px;
}

.label {
	font-size: 0.9rem;
	color: var(--grey-900);
	font-weight: 500;
}

.input {
	padding: 8px;
}

.submit {
	background-color: var(--green-600);
	color: var(--white);
	padding: 10px;
	border: none;
	cursor: pointer;
	transition: all 0.15s ease;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0px 3px 3px var(--green-200);
	}

	&:active {
		transform: translateY(2px) scale(0.99);
	}
}

.toast {
	position: absolute;
	top: 20px;
	background-color: var(--grey-900);
	color: var(--white);
	padding: 16px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.12);
}

.toast__description {
	color: var(--green-200);
}

@media screen and (max-width: 600px) {
	.form-group {
		gap: 4px;
	}

	.form__wrapper {
		flex-direction: column;
		gap: 12px;
	}
}
