@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);

    ---Blue: hsl(248, 32%, 49%);

    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    position: relative;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--Red) url(../images/bg-intro-desktop.png) no-repeat center
        center/cover;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    padding: 7% 7% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#content {
    width: 50%;
}

h1 {
    font-size: 3.1em;
    line-height: 55px;
    margin-bottom: 20px;
}

#form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

#try-free {
    width: 80%;
    font-size: 0.9em;
    background-color: var(---Blue);
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.18);

    transition: all 0.3s ease;
}

#try-free span {
    font-weight: 300;
}

#try-free:hover {
    transform: scale(1.05);
}

form {
    width: 80%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.18);
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    font-weight: 600;
    padding: 12px 0px 12px 20px;
    border-radius: 5px;
    border: 2px solid var(--Grayish-Blue);
}

input::placeholder {
    font-family: "Poppins";
    font-weight: 500;
}

input:hover {
    border: 2px solid var(---Blue);
}

#claim-free-trial {
    background-color: var(--Green);
    border: 0px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    box-shadow: 0px 2px 1px hsla(154, 99%, 30%, 0.785);
    cursor: pointer;
    transition: all 0.25s ease;
}

#claim-free-trial:active {
    transform: scale(0.98);
}

#terms {
    font-size: 0.75em;
    color: var(--Grayish-Blue);
    text-align: center;
}

#terms a {
    color: var(--Red);
}

footer {
    background-color: var(---Blue);
    width: calc(117%);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 3px 0px;
    margin-top: 40px;
}

footer * {
    color: white;
}

footer a {
    font-weight: bold;
}

footer a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    transition: all 0.3s ease;
    background-color: white;
    bottom: 0;
    left: 50%;
}

footer a:hover::before {
    width: 50%;
}

footer a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    transition: all 0.3s ease;
    background-color: white;
    bottom: 0;
    right: 50%;
}

footer a:hover::after {
    width: 50%;
}

#inputs div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#inputs div p {
    text-align: end;
}

.error {
    border: 2px solid var(--Red);
    color: var(--Red);
}

.error-message {
    color: var(--Red);
    font-size: 12px;
}

.success {
    border: 2px solid var(--Green);
}

.container-input {
    position: relative;
}

.icon-error {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
}