@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #container-desserts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #container-your-cart {
    margin-top: 20px;
  }
}
