@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: hsl(75, 94%, 57%);

  --white: hsl(0, 0%, 100%);

  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

html,
body {
  background-color: var(--grey-900);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  height: 100%;
  padding: 20px;
}

body * {
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

p {
  font-size: 14px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 50px auto;
  max-width: 450px;
  width: 100%;

  padding: 40px;
  margin-bottom: 200px;
  border-radius: 10px;
  background-color: var(--grey-800);
}

#section-content {
  width: 100%;
}

#image-profile img {
  width: 60%;
  border-radius: 50%;
}

#section-header {
  margin: 20px 0;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

#section-header h1 {
  font-weight: 600;
  font-size: 1.7em;
}

#section-header h4 {
  color: var(--green);
}

#section-header p {
  margin-top: 20px;
}

#section-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

#section-links a {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--grey-700);
  transition: background 0.3s ease;
}

#section-links a:hover {
  background-color: var(--green);
  color: black;
}

footer {
  width: 100%;
  font-size: 0.9rem;
  background-color: var(--grey-800);
  padding: 20px 10px;
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer a {
  text-decoration: none;
  color: var(--green);
  position: relative;
}

footer a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0%;
  height: 1.5px;
  background-color: var(--green);
  transition: all .6s ease;
}

footer a:hover::before {
  width: 100%;
}