@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);

  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
  background-color: var(--Slate-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 600px;
  background-color: var(--White);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.container {
  display: flex;
}

.container section {
  width: 50%;
  padding: 15px;
}

#mortgage-calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-title span {
  font-size: 0.9em;
}

.result {
  background-color: var(--Slate-900);
  border-bottom-left-radius: 40px;
  color: var(--White);
  text-align: center;
}


.result p {
  color: var(--Slate-300);
  margin-top: 10px;
  font-size: 0.8em;
}