@media screen and (max-width: 805px) {
  body {
    padding: 25% 20px 0px;
  }

  main {
    width: 500px;
    flex-direction: column;
    position: relative;
    margin-bottom: 10%;
  }

  #content {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px 30px 30px;
  }

  #container-image {
    width: 100%;
    position: absolute;
    margin-top: 83px;
    top: -198px;
    left: 25%;
  }

  #container-image {
    position: absolute;
    width: 50%;
    height: 100%;
  }

  #woman-image {
    top: 0px;
    left: 0px;
  }

  #background-image {
    width: 100%;
    top: 102px;
    left: 0px;
  }

  #box-image {
    display: none;
  }

  footer {
    width: calc(100% + 40px);
  }
}

@media screen and (max-width: 505px) {
  body {
    padding: 40% 10px 0px;
  }

  main {
    max-width: 320px;
    width: 100%;
  }

  #container-image {
    width: 70%;
    position: absolute;
    margin-top: 83px;
    top: -185px;
    left: 45px;
  }

  #background-image {
    width: 100%;
    top: 100px;
    left: 0px;
  }

  footer {
    width: calc(100% + 20px);
  }
}
