@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    font-family: 'Kumbh Sans';

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 50px 0px;
}

.oculta {
    display: none;
}

main {
    background-color: white;
    box-shadow: 1px 4px 20px var(--very-dark-desaturated-blue);
    display: flex;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    min-height: 440px;
    border-radius: 20px;
    margin-bottom: 5%;
}

#container-image {
    width: 50%;
    position: relative;
    z-index: 5;
}

#main-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 4;
}

#woman-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50px;
    left: -70px;
    z-index: 2;
}

#background-image {
    width: 200%;
    position: absolute;
    top: -270px;
    left: -494px;
    z-index: -1;
}

#box-image {
    position: absolute;
    width: 43%;
    top: 160px;
    left: -92px;
    z-index: 9;
    margin-left: 10px;
}

#content {
    width: 55%;
    padding: 40px 60px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

#content h1 {
    color: var(--very-dark-desaturated-blue);
    margin-bottom: 20px;
    font-size: 2em;
}

#content section {
    width: 100%;
    color: var(--dark-grayish-blue);
    padding-bottom: 15px;
    border-bottom: 1px solid var(--light-grayish-blue);
}

.asks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}

.asks img {
    width: 15px;
    height: 10px;
}

.asks img:hover, .asks h4:hover {
    cursor: pointer;
}

.asks h4 {
    transition: all .25s ease;
    font-weight: 400;
    color: var(--very-dark-grayish-blue);
}

section p {
    font-size: 0.9em;
}

.asks h4:hover {
    color: var(--soft-red);
}

.answer {
    margin-top: 10px;
}

.icon-up {
    transform: rotate(180deg);
}

.open {
    color: var(--very-dark-desaturated-blue);
    font-weight: 800 !important;
}

footer {
    background-color: var(--very-dark-desaturated-blue);
    width: calc(100% + 100px);
    text-align: center;
    color: var(--light-grayish-blue);
    padding: 4px;
    font-size: 0.9em;
}

footer a {
    text-decoration: none;
    color: var(--soft-violet);
    transition: all .25s ease;
    font-weight: 600;
    position: relative;
}

footer a:hover {
    color: var(--light-grayish-blue);
}

footer a::before {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 50%;
    height: 2px;
    background-color: var(--soft-red);
    transition: all .25s ease;
}

footer a:hover::before {
    width: 50%;
}

footer a::after {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    right: 50%;
    height: 2px;
    background-color: var(--soft-red);
    transition: all .25s ease;
}

footer a:hover::after {
    width: 50%;
}