@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-Grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 90px 50px 0px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    color: var(--very-dark-magenta);
    font-family: 'League Spartan';
    position: relative;

    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}

main {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#container-introduce {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#introduce {
    width: 40%;
}

#introduce h1 {
    font-size: 3.7em;
    margin-bottom: 20px;
}

#introduce p {
    color: var(--dark-grayish-magenta);
    font-size: 1.1em;
}

#assessments {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 12px;
    margin-right: 100px;
} 

.assessments-item {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--light-Grayish-magenta);
    border-radius: 10px;
    gap: 20px;
}

.assessments-item:nth-child(2) {
    margin-left: 50px;
    margin-right: -50px;
}

.assessments-item:nth-child(3) {
    margin-left: 100px;
    margin-right: -100px;
}

.assessments-item p {
    font-weight: bold;
}

.stars-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.stars-container img {
    width: 15px;
    height: 15px;
}

#container-testimonials {
    width: 100%;
    display: flex;
    gap: 30px;
}

.testimonial-item {
    background-color: var(--very-dark-magenta);
    color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.testimonial-item p {
    line-height: 20px;
}

.testimonial-item:nth-child(2) {
    margin-top: 12px;
    margin-bottom: -12px;
}

.testimonial-item:nth-child(3) {
    margin-top: 24px;
    margin-bottom: -24px;
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.user h3 {
    color: var(--white);
    font-weight: 400;
}

.data {
    width: 100%;
    line-height: 18px;
}

.data span {
    color: var(--soft-pink);
}

.user img {
    border-radius: 50%;
    width: 40px;
}

footer {
    background-color: var(--very-dark-magenta);
    color: var(--white);
    width: calc(100% + 100px);
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--soft-pink);
    transition: all .2s ease;
    position: relative;
}

footer a:hover {
    color: var(--light-Grayish-magenta);
}

footer a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--soft-pink);
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all .2s ease;
}

footer a:hover::before {
    width: 50%;
    height: 1px;
}

footer a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--soft-pink);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .2s ease;
}

footer a:hover::after {
    width: 50%;
    height: 1px;
}